*{
  color: #BFBFBF;
  font-family:  Open Sans !important;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: 0.5s;
  box-sizing: border-box;
  filter: none;
}
:root {
--bluck: #2D2F33 !important;
}

::-webkit-scrollbar,::-webkit-scrollbar-button, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner, ::-webkit-resizer{display: none;}

body{
  background-color: #111111;
  margin: 0px;
}

div.background{
  position: fixed;
  top: -30px;
  bottom: -30px;
  left: -30px;
  right: -30px;
  width: calc(100% + 30);
  height: calc(100% + 30);
  z-index: 1;
  filter: blur(10px);
  background-color: var(--bluck);
  opacity: 0.7;
  background-size: cover;
  background-position: center;
}

div#main{
  display:flex;
  justify-content:center;
  align-items:center;
  position: absolute;
  width:100%;
  height:100%;
  filter: none !important;
  z-index: 2;
}
div#submain{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#main div#submain{
  margin-top: -200px;
  border: 20px;
  border-color: #fff;
  border-radius: 3px 0px 0px 3px;
  background-color: var(--bluck);
  opacity: 0.8;
  width:600px;
  height:240px;
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 3;
}

div#main div#submain div{
  display: flex;
  justify-content: center;
  align-items: center;
}

div#main div#submain div a{
  display: block !important;
  padding: 29px;
}

div#main div#submain div a:hover{color: #fff;}
div#main div#submain div.one{grid-row: 1;} 
div#main div#submain div.two{grid-row: 2;}
div#main div#submain div.three{grid-row: 3;}

div.one:, div.two:, div.three:{
}
div#main div#submain div.one:hover, div.two:hover, div.three:hover{
background-color: #26282B;
}
div.one{
border-radius: 3px 0px 0px 0px;
}
div.three{
border-radius: 0px 0px 0px 3px;
}
div#main div#picture{
  margin-top: -200px;
  border: 2px;
  border-radius: 0px 3px 3px 0px;
  width: 170px;
  height: 240px;
  background-color: #111;
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div#menu{
  position: fixed;
  height: 100%;
  width: 165px;
  border-right: 10px solid #000;
  background-color: var(--bluck);
  opacity: 0.7;
  left: -155px;
  z-index: 2;
  overflow: scroll;
}

div#bar{
display: flex;
position: absolute;
align-items: center;
margin-top: 140px;
background-color: var(--bluck);
border-radius: 20px;
opacity: 0.8;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
input#search{
	height: 40px;
	width: 40px;
	transition-timing-function: ease;
	transition: 0.7s;
	background-color: var(--bluck);
	border: none;
	padding: 8px;
	border-radius: 20px;
	text-align: center;
}
input#search:focus{
	border-radius: 3px;
	width: 600px;
	height: 50px;
	opacity: 1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/* background-color: #3A3D42; */

}

div#menu:hover{
  left: 0px;
}

div#menu a{
  display: block;
  padding: 20px;
  z-index: 2;
  color: #fff;
}

div#menu a:hover{color: #555;}

div#submain a{
background-color: ;
}